# Ignore everything so if we update via git, nothing is overwritten

/*
/*/
!.gitignore
!/Awards
!/Importer
!/Installer
!/Updater
!/Vacentral
!/ModulesManager
!/DisposableBasic
!/SmartCARS3phpVMS7Api
